.container {
  width: 800px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 24px;
}

.button_group {
  margin-top: 20px;
  text-align: center;
}

.submit, .reset{
  background-color: #1976d2;
  color:#fff;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  padding: 10px 16px;
  margin: 8px;
  font-size: 16px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.submit:hover, .reset:hover{
  cursor: pointer;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

